In [2]:
#: Imports
import pandas as pd
#: Read the dataset
#! df = pd.read_csv("data.csv", sep='\t') # TSV = tab seperated words
df = pd.read_csv("data.csv") # CSV = comma seperated words
print(df)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [3]:

print("df.shape", df.shape)
print("len(df)", len(df))
print("df.columns", df.columns )
print("len(df.columns)", len(df.columns) )
print("df.dtypes", df.dtypes)

df.shape (4600, 18)
len(df) 4600
df.columns Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')
len(df.columns) 18
df.dtypes date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [4]:
# İstatistiksel veri türü olarak; görev olarak; hepsi farklı !!!

# UNIQUE
# TCKN      = 234525839543, NO SUBSTRACTION - NO COMPARISON (çıkarma gibi işlemler yok, kıyaslama yok)

# CAN BE COMPARED, CAN BE SUBSTRACTED
# CONTINIOUS DATA TYPE
# Yaş       = 21

# CAN BE COMPARED, CANNOT BE SUBSTRACTED
# Sınıf     = 3
# ORDINAL
# Baldo
# Normal
# Kırık

# CANNOT BE COMPARED, NOT UNIQUE
# CICEK SINIFLARI (gul, lale, papatya).....
# Istanbul, Ankara/
# CATEGORIC

# PlakaKodu = 35
# PlakaKodu = 06
# PlakaKodu = 29

# Bool, Boolean
# Ehliyet   = 1
# FLAG


# Ahmet:
# -- 23
# Mehmet:
# -- 24
# Mustafa:
# -- 25

# continious data type
# 1= CAN BE COMPARED ** kiyaslanabilir
# 2= RANGES ARE EQUAL ** araliklar esittir





# ATOMIC  = int, float, bool, string, datetime
# COMPLEX = list, set, dict, tuple
#! df.info()


# df ==> DATAFRAME

# cardinality = How often a variable changes in a dataset
for c in df.columns:
    unique_nof_values = len(df[c].unique())
    if unique_nof_values == 1:
        del df[c]
    
    if unique_nof_values == len(df):
        del df[c]

#! print(df.columns)

#: Select more than one columns
#! print(df[ ['bedrooms','bathrooms', 'sqft_living']  ])

#: Deleting a column
#! del df['condition']
#! print(df.columns)

#: Selecting a column and assigning to another variable
X = df['view']
del df['view']
print(df.columns)

#: Creating new column
df['view!'] = X
print(df.columns)

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'street', 'city', 'statezip'],
      dtype='object')
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated', 'street', 'city', 'statezip', 'view!'],
      dtype='object')

In [5]:
import datetime

#: Adding a new column with all values as `0`
#! df['q'] = 0
#! print(df['q'])

# sign(x) 
# x >  0  => 1
# x == 0  => 0
# x <  0  => -1

# pos(x) =
# x >  0 => 1
# x == 0 => 0

def pos(x):
    if x > 0: 
        return 1
    return 0

def pos2(x):
    return 1 if x > 0 else 0

#: Lambda function
def pos3(x):
    if x > 0:
        return 1
    else:
        if x == 0:
            return 0
        else:
            return -1

poslambda = lambda x: 1 if x > 0 else 0

YEAR = datetime.datetime.now().year # 2022
agelambda = lambda x: YEAR - x

   


# APPLY = FOREACH # HER BIRI ICIN
df['renewed'] = df['yr_renovated'].apply( poslambda )

df['age'] = df['yr_built'].apply( agelambda )
df['age2'] = YEAR - df['yr_built']

#: Sorting dataset
#: Siralama
df = df.sort_values(['price'])

#: Filtering


# df[  'columnname'   ] => o kolonu secip degerlerini donduruyor
# df[ ['x', 'y'] ] => o kolonlari secip degerlerini donduruyor



df = df[      df['price'] > 50000       ]






# yr_built
# age
# 2022



# yr_renovated


#! columnlist = list(df.columns)
#! columnlist.remove( 'renewed' )
#! columnlist.insert( 7, 'renewed')
#! df = df[ columnlist ]

#: Saving to a file
df.to_csv("data2.csv", index = None)

In [6]:
import numpy as np
#: Imports
import pandas as pd
#: Read the dataset
#! df = pd.read_csv("data.csv", sep='\t') # TSV = tab seperated words
df = pd.read_csv("data.csv") # CSV = comma seperated words

#: Most frequent
most = df['city'].mode()[0]

#! df['city'].fillna('Unknown') 
#! df['city'].fillna('Kent') 
df['city'] = df['city'].fillna( most )

#: Finding Empty records
df['street'].isnull()

#: Get the records with street not empty
df = df[ df['street'].notnull() ]

#! df.info()

# =========
# Data filling for numerical variables

dx = df[ df['price'].isnull() ]

#! average = round( df['price'].mean() )
#! df['price'] = df[ 'price' ].fillna( average  )

#! print(df.shape)
#! print( type(df['price'].values) )
#! print(type(df))

# ARRAY = LIST = VECTOR = (1xN boyutlu veri)
# ND (N dimension, N boyutlu) = TABLE = MATRIX = DATAFRAME = EXCEL


#! print(df['price'].mean())
#! total = 0
#! for v in df['price'].values:
#!     total = total + v
#! print(total / len(df['price'].values))


# Seattle 12
# Kent 15
# Auburn 10

#! counts = {}
#! for x in df['city'].values:
#!    if not x in counts:
#!        counts[x] = 1
#!    else:
#!        counts[x] += 1
#!print(counts)

# Frequency of each value, her bir degerin kac kere gectigini gosterir
#! print(df['city'].value_counts())

frequencies = dict(df['city'].value_counts())

#! print(list(df['city'].apply( lambda x: 'Other' if frequencies[x] < 100 else x).values)[0:25])

df['city'] = df['city'].apply( lambda x: 'Other' if frequencies[x] < 100 else x)
df['yr_built'] = df['yr_built'].apply(lambda x: 1934 if x < 1935 else x)

#! print(df['yr_built'].min())

#! most = df['city'].mode()[0]
#! print( dict(df['city'].value_counts())[ most ] / len(df) )


#! print( df['sqft_living'].median() )
#! print( df['sqft_living'].mean() )

# cihangir
# levent
# bebek
# nisantasi

averages = {}
for x in df['city'].unique():
    averages[ x ] = int(df[ df['city'] == x ][ 'price' ].mean())

# LOOKUP
df['average_price'] = df['city'].apply( lambda x: averages[x] )

# Calculate the average price and ratio
#! df['ratio_price'] = df['price'] / df['average_price']
#! del df['average_price']


# Lambda = for = loop
# X => each value of price
# df['price'].apply( lambda x )

# Dataframe.apply
# X => ROW (satir)
# use axis = 1 for dataframe
#! df['price'] = df.apply( lambda x: x['average_price'] if pd.isna(x['price']) else x['price'], axis = 1 )
#! print(df[ df['price'].isnull() ] )



#! subset = df[-1000:] # sondan 1000 tane
#! subset = df[:1000] # bastan 1000 tane
#! print(subset)
#! print(subset.shape)



#! subset2 = df.tail(1000) # take last 1000 , sondan 1000 tane al
#! subset3 = df.head(1000) # take 1000 from beginning, bastan 1000 tane al


# SHUFFLE
df = df.sample(frac=1.0)

# WHY USE SUBSETS
# 1- too big? - computational load, not need
# 2- enough? - a/b test
# 3- train / test

# SHUFFLE
first = df.sample(frac=0.5)
second = df.sample(frac=0.5)

df = df.sample(frac=1.0)
half = int(len(df) / 2)
first1 = df[:half]
second1 = df[half:]

#! print( first['price'].mean() )
#! print( second['price'].mean() )

# POPULATION = ALL
# SAMPLE = SOME = SAMPLING


#! print( df['date'].apply(lambda x: x[0:10] ) )
#! print( df['date'].apply(lambda x: x.split(' ')[0] ) )


#! print(df.head())


ALLOWED_DATE_FORMATS = [
    '%m/%d/%Y', '%d/%m/%Y', 
    '%Y/%m/%d', '%m-%d-%Y', 
    '%d-%m-%Y', '%Y-%m-%d', 
    '%m/%d/%Y', '%d.%m.%Y', 
    '%Y.%m.%d'

]

df['date'] = df['date'].apply(lambda x: x[0:10] )
df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df['month'] = df['date'].dt.month
df['dayofweek'] = df['date'].dt.dayofweek
df['weekend'] = df['dayofweek'].apply(lambda x: 1 if x in [5,6] else 0)


print(df.head())

#for i in range(1, 13):
#    print( i, df[df['month'] == i]['price'].mean() )


# Monday=0, Sunday=6


import re # REGULAR EXPRESSION


# REGEX + 1 veya fazla
# REGEX * 0 veya fazla
# REGEX ? 0 veya 1 var veya yok

# MAIL
# [a-z0-9\_]+@[a-z0-9]+\.[a-z0-9]+(\.[a-z]+)?

# TARIH
# ^[123]?[0-9]-1?[0-9]-[12][0-9]{3}$
# ^[123]?[0-9] [a-zA-Z]+ [12][0-9]{3}$



#harfler veya rakamlar
#sonra bir tane @
#harfler veya rakamlar
#sonra bir tane .
#sonra harfler veya rakamlar
#
#
#
#
#emre@msn.com
#ahmet@gmail.com
#5458788996
#www.milliyet.com.tr
#26 Mayis 2020









# type determination -- 01 mayis



df.to_csv("data2.csv", index = False)

           date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
3150 2014-06-23  403500.0       3.0       1.00         1830      8004     1.0
3560 2014-06-27  221000.0       3.0       1.00          910      8789     1.0
3684 2014-06-30  439000.0       3.0       2.50         3180      7904     1.0
961  2014-05-20  263000.0       3.0       1.75         1570      7775     2.0
3500 2014-06-26  451000.0       5.0       2.75         2830      8925     1.5

      waterfront  view  condition  ...  yr_built  yr_renovated  \
3150           0     0          3  ...      1960          2012
3560           0     0          3  ...      1966          1963
3684           0     0          3  ...      2006             0
961            0     0          3  ...      1982             0
3500           0     0          3  ...      1967          2011

                 street      city  statezip country average_price month  \
3150  13337 30th Ave NE   Seattle  WA 98125     USA        579837     6
3560     636 S 188th St   Seattle  WA 98148     USA        579837     6
3684     2813 NE 4th Ct    Renton  WA 98056     USA        377040     6
961     9226 S 239th Pl      Kent  WA 98031     USA        439492     5
3500  12112 NE 143rd Pl  Kirkland  WA 98034     USA        651583     6

      dayofweek  weekend
3150          0        0
3560          4        0
3684          0        0
961           1        0
3500          3        0

[5 rows x 22 columns]

In [10]:
import re


df = pd.read_csv("data.csv")


df['side']=df['street'].str.extract(r'(\b[NESW]{1,2}\b)')

print(df['side'])

df.to_csv("data3.csv", index = None)

0        N
1        W
2       SE
3       NE
4       NE
        ..
4595     N
4596    SE
4597    NE
4598     S
4599    SE
Name: side, Length: 4600, dtype: object

In [14]:
Q1=df["price"].quantile(0.25)
Q3=df["price"].quantile(0.75)
IQR=Q3-Q1
print(IQR)

alt_sinir=Q1-1.5*IQR
ust_sinir=Q3+1.5*IQR

332087.5

In [15]:
df.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
price,1.000000,0.200336,0.327110,0.430410,0.050451,0.151461,0.135648,0.228504,0.034915,0.367570,0.210427,0.021857,-0.028774
bedrooms,0.200336,1.000000,0.545920,0.594884,0.068819,0.177895,-0.003483,0.111028,0.025080,0.484705,0.334165,0.142461,-0.061082
bathrooms,0.327110,0.545920,1.000000,0.761154,0.107837,0.486428,0.076232,0.211960,-0.119994,0.689918,0.298020,0.463498,-0.215886
sqft_living,0.430410,0.594884,0.761154,1.000000,0.210538,0.344850,0.117616,0.311009,-0.062826,0.876443,0.447206,0.287775,-0.122817
sqft_lot,0.050451,0.068819,0.107837,0.210538,1.000000,0.003750,0.017241,0.073907,0.000558,0.216455,0.034842,0.050706,-0.022730
floors,0.151461,0.177895,0.486428,0.344850,0.003750,1.000000,0.022024,0.031211,-0.275013,0.522814,-0.255510,0.467481,-0.233996
waterfront,0.135648,-0.003483,0.076232,0.117616,0.017241,0.022024,1.000000,0.360935,0.000352,0.078911,0.097501,-0.023563,0.008625
view,0.228504,0.111028,0.211960,0.311009,0.073907,0.031211,0.360935,1.000000,0.063077,0.174327,0.321602,-0.064465,0.022967
condition,0.034915,0.025080,-0.119994,-0.062826,0.000558,-0.275013,0.000352,0.063077,1.000000,-0.178196,0.200632,-0.399698,-0.186818
sqft_above,0.367570,0.484705,0.689918,0.876443,0.216455,0.522814,0.078911,0.174327,-0.178196,1.000000,-0.038723,0.408535,-0.160426
sqft_basement,0.210427,0.334165,0.298020,0.447206,0.034842,-0.255510,0.097501,0.321602,0.200632,-0.038723,1.000000,-0.161675,0.043125
yr_built,0.021857,0.142461,0.463498,0.287775,0.050706,0.467481,-0.023563,-0.064465,-0.399698,0.408535,-0.161675,1.000000,-0.321342
yr_renovated,-0.028774,-0.061082,-0.215886,-0.122817,-0.022730,-0.233996,0.008625,0.022967,-0.186818,-0.160426,0.043125,-0.321342,1.000000